<div class="timeVal">
    <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
    <ngb-timepicker [(ngModel)]="time1"></ngb-timepicker>
    <hr>

    <div class="container">  
        <form [formGroup]="form" (ngSubmit)="submit()">
               
            <div class="form-group">
                <label for="weekDay">Weekday:</label>
                <select formControlName="weekDay" class="form-control">
                    <option disabled>Select Weekday</option>
                    <option>Choose Weekday</option>
                    <option *ngFor="let weekday of weekList">{{weekday}}</option>
                </select>
                <!-- <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                    <div *ngIf="f.website.errors.required">Name is required.</div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="weekNumber">Week Number:</label>
                <select formControlName="weekNumber" class="form-control">
                    <option disabled>Week Number</option>
                    <option>Choose Number</option>
                    <option *ngFor="let num of weeknum">{{num}}</option>
                </select>
                <!-- <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                    <div *ngIf="f.website.errors.required">Name is required.</div>
                </div> -->
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>      